<app-header></app-header>
<div class="d-flex justify-content-end margin">
    <div class="d-flex my-3 mx-2 w-25">
        <select class="form-select" [(ngModel)]="orderTypeFilter" (change)="applyFilter()">
            <option *ngFor="let type of types" [ngValue]="type">{{type.name}}</option>
        </select> 
    </div>
</div>
<div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start flex-wrap w-80">
        @for (order of orders; track order) {
            <app-order [order]="order"></app-order>
        }
    </div>
    <div class="d-flex justify-content-end">
        <div class="bg-dark w-20 mx-2" style="min-width: 18em; min-height: 35em;">
            <div class="mx-2 text-light">
                <ul>
                  <li *ngFor="let entry of getSummary() | keyvalue">
                    {{ entry.key }} x{{ entry.value }}
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>