<div class="card mx-1 my-1">
    @if(isOrderDanger())
    {
        <div class="d-flex justify-content-evenly py-2 bg-danger">
            <p>Order ID: {{order.id}} </p>
            <p>Order Time: {{getOrderTime(order.orderDate!)}}</p>
        </div>
    }
    @else if(isOrderWarning())
    {
        <div class="d-flex justify-content-evenly py-2 bg-warning">
            <p>Order ID: {{order.id}} </p>
            <p>Order Time: {{getOrderTime(order.orderDate!)}}</p>
        </div>
    }
    @else
    {
        <div class="d-flex justify-content-evenly py-2 bg-info">
            <p>Order ID: {{order.id}} </p>
            <p>Order Time: {{getOrderTime(order.orderDate!)}}</p>
        </div>
    }
    
    <!-- Card container sotto -->
    <div class="mx-1 my-2 List" style="width: 17rem; min-height: 18em;">
        <div class="card-body d-flex flex-column">
            <h4>Table: {{order.tableId}}</h4> 
            <h5 class="card-title">
                Product name:
                <p *ngFor="let i of [].constructor(order.names?.length || 0); let idx = index">{{ order.names![idx] }} x{{order.qtys![idx]}}</p>
            </h5>
        </div>
    </div>
    <div class="mt-auto d-flex justify-content-center my-1">
        <a class="btn btn-success" (click)="signAsCompleted()">Sign as completed <i class="bi bi-check2"></i></a>
    </div>
</div>