.IconVisibility {
    top: 50%; 
    right: 10px; 
    transform: translateY(-50%);
     background: none;
      border: none;
}
.fullscreen-bg {
  background-color: #0d6efd; /* blu Bootstrap, oppure usa #007bff o quello che preferisci */
  min-height: 100vh;
}
