<div class="fullscreen-bg d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow-sm rounded" style="min-width: 380px;">
    <h4 class="mb-4 text-center">Login</h4>
    <form (ngSubmit)="login()">
      <div class="mb-3">
        <input
          type="text"
          name="usuername"
          [(ngModel)]="emailInput"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Username"
        >
      </div>
      <div class="mb-3 position-relative">
        <span>
          <input
          [type]="passwordVisible ? 'text' : 'password'"
          name="password"
          [(ngModel)]="passwordInput"
          class="form-control"
          placeholder="Password">
          <i class="position-absolute IconVisibility" [ngClass]="passwordVisible ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'" (click)="togglePasswordVisibility()"></i>
        </span>
      </div>
        <small class="text-danger d-block m-2">{{ errorstring }}</small>
      <input type="submit" class="btn btn-primary w-100" (click)="login()" value="Sign in">
    </form>
  </div>
</div>