html{
    font-size: 20px;
}

h2{
    margin: 1rem 2.2rem;
}

.box{
    /* height: 10rem; */
    /* border: 0.1rem solid black; */
    width: 97%;
    height: 90%;
    /* margin: 0.5rem 0.5rem; */
    margin: 5% 5%;
    text-align: center;
    font-size: 6rem;
    padding-bottom: 10%;
    /* align-items: center; */
}


.h200{
    min-height: 20.45rem;
}

.immagine{
    width: 15%;
    /* align-items: center; */
    /* align-content: center; */
}

.immagine img{
    /* align-items: center;
    align-content: center; */
    width: 100%;
}

